{% extends "__base__.html" %}

{% block title %}Bibliotheca v.0.1{% endblock %}

{% block content %}
<h1>Hello</h1>
<h2>Dostępne funkcje:</h2>
<ol>
    <li>Aby dodać autora do bazy danych, naciśnij <a href="/new_author">TUTAJ</a></li>
    <li>Aby dodać wydawnicywo do bazy danych, naciśnij <a href="/new_publishing_house">TUTAJ</a></li>
    <li>Aby dodać nową książkę do bazy danych, naciśnij <a href="/new_book">TUTAJ</a></li>
    <li>Aby wyszukać książkę naciśnij <a href="/book/search">TUTAJ</a></li>
</ol>
{% endblock %}