<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %} | Moja Biblioteka v.0.1</title>
</head>

<body>
<h1>Hello</h1>
<h2>Dostępne funkcje:</h2>
<ol>
    <li>Aby dodać autora do bazy danych, naciśnij <a href="/new_author">TUTAJ</a></li>
    <li>Aby dodać wydawnicywo do bazy danych, naciśnij <a href="/new_publishing_house">TUTAJ</a></li>
</ol>
</body>
</html>